node_modules/
dist/
build/
.turbo/
*.tsbuildinfo
.env
.env.local
.env.*.local
.DS_Store
*.log
local.settings.json

# Migration database backups
*.bacpac

# Terraform
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

