# SPDX-FileCopyrightText: 2026 British Club Challenge authors
# SPDX-License-Identifier: MPL-2.0
# Copy this local-only overlay, then restrict its permissions:
#   cp iac/env/shared.local.tfvars.example iac/env/shared.local.tfvars
#   chmod 600 iac/env/shared.local.tfvars
# Pass it after the committed base so the overlay wins:
#   terraform -chdir=iac/shared plan -var-file=../env/shared.tfvars -var-file=../env/shared.local.tfvars
# Populate the UMI map from:
#   terraform -chdir=iac/bootstrap output -json terraform_umi_principal_ids
# Populate shared_rg_name from the .shared value returned by:
#   terraform -chdir=iac/bootstrap output -json pre_created_rg_names

shared_rg_name = "<from: pre_created_rg_names .shared>"

env_umi_principal_ids = {
  staging = "<from: terraform_umi_principal_ids .staging>"
  prod    = "<from: terraform_umi_principal_ids .prod>"
  shared  = "<from: terraform_umi_principal_ids .shared>"
}
